.box{
    background-color: aqua;;
}

*{
    margin: 25px;
    padding: 0;
}

.box1{
    color: yellow;
    padding: 10px;
    height: 200px;
    box-sizing: border-box;
}

.box2{
    color: red;
    border: 2px solid black;
}