.container{
    height: 70vh;
    width: 80vw;
    background-color: aqua;
    position: relative;
}

.ball{
    background-color: rgb(95, 15, 255);
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: anix 3s linear infinite alternate,
                aniy 0.4s ease-out infinite alternate;
}

@keyframes anix {
    0% {
        left: 0;
    }
    100% {
        left: 95%;
    }
}

@keyframes aniy {
    from{
        bottom: 0px;
    }

    to{
        bottom: 30%;
    }

}